.app-wrapper {
  display: grid;

  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "navbar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: header;
  background-color: aqua;
}

.header img {
  width: 100px;
  border-radius: 20px;
}

.navbar {
  grid-area: navbar;
  background-color: brown;
}

.content {
  grid-area: content;
  background-color: blueviolet;
}
